/rug-adm-web/nbproject/private/


/rug-adm-web/node_modules
/rgm-captcha/target
/rgm-file/target
/rgm-firma/target
/rgm-mail/target
/rgm-rug-ear/target
/rgm-rug-ws/target
/rgm-adm/target
/rgm-ear/target
/rgm-ejb/target
/rgm-web/target

